---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">ホーム</HeaderLink>
			<HeaderLink href="/blog">ブログ</HeaderLink>
			<HeaderLink href="/space">スペース紹介</HeaderLink>
			<HeaderLink href="/profile">プロフィール</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: #fdf4ff;
		box-shadow: 0 2px 8px rgba(var(--gray), 10%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
		color: rgb(var(--black));
		font-weight: 700;
		white-space: nowrap;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1em;
	}
	nav a {
		padding: 1em 0.4em;
		color: rgb(var(--black));
		border-bottom: 3px solid transparent;
		text-decoration: none;
		font-size: 0.9em;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.internal-links {
		display: flex;
		gap: 0;
	}
	@media (max-width: 480px) {
		h2 {
			font-size: 0.85em;
		}
		nav a {
			padding: 1em 0.3em;
			font-size: 0.8em;
		}
	}
</style>
